[Unit]
Description=Update Cloudflare DNS records to reflect the host's current dynamic IP address
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile={{ install_path }}/etc/{{ service_name }}.env
ExecStart={{ install_path }}/bin/dynamic-dns-service

[Install]
WantedBy=multi-user.target